@page "/ErreurConfirmationPostulerStage"
<h3>Opppsss</h3>
Vous semblez avoir déjà postuler sur cette offre de stage.
<br />
Si ce n'est pas le cas, communiquer avec le responsable des stages dans votre institution scolaire.
